<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="brand">
        <a href="{{ site.baseurl }}">
          <img src="{{ "static/images/diffoscope.png" | relative_url }}?{{ site.time | date: '%s%N' }}">
        </a>
      </div>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <p class="small">
      Latest release: {{ site.data.diffoscope.latest_release.version }} ({{ site.data.diffoscope.latest_release.date|date: "%d %b %Y"  }})
    </p>
  </div>
</div>
