.theme-base-diffoscope .sidebar {
  background-color: #110022;
}

.theme-base-diffoscope .content a,
.theme-base-diffoscope .related-posts li a:hover {
  color: #6a9fb5;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.brand img {
  display: inline;
  max-height: 5rem;
}

.sidebar h1 {
  font-size: 2rem;
}

.sidebar p.small {
  font-size: 0.7rem;
}

footer {
  margin-top: 5rem;
}

footer p {
  text-align: center;
  color: #6c757d;
  font-size: 0.8rem;
}

footer img {
  max-height: 3rem;
  display: inline;
}

pre {
  font-size: 0.7rem;
}
