<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="same-origin" />
  <title>{{ page.title }}</title>
  <link href="{{ "static/css/poole.css" | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet" />
  <link href="{{ "static/css/syntax.css" | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet" media="screen" />
  <link href="{{ "static/css/hyde.css" | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet" media="screen" />
  <link href="{{ "static/css/custom.css" | relative_url }}?{{ site.time | date: '%s%N' }}" rel="stylesheet" media="screen" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}: {{ site.description }}" href="{{ "feed.xml" | relative_url }}"/>
</head>

<body class="theme-base-diffoscope">
  <a class="d-none d-md-block" href="{{ site.salsa_url }}"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 999;" src="https://lamby.pages.debian.net/salsa-ribbons/img/black_right.png" alt="Fork me on Salsa"></a>

  {% include sidebar.html %}

  <div class="content container">
    {{ content }}

    <footer>
      <p>
        <a href="https://reproducible-builds.org/">
          <img src="{{ "static/images/reproducible-builds.svg" | relative_url }}?{{ site.time | date: '%s%N' }}">
        </a>
      </p>

      <p>
        <em>diffoscope</em> is developed under the umbrella of the
        <a href="https://reproducible-builds.org/">reproducible-builds.org</a>
        effort.
      </p>
    </footer>
  </div>
</body>
</html>
